<div class="container col-md-8">
  <div class="d-flex justify-content-center">
    <div class="col-12">
      <div class="media row mt-4 mb-4">
        <div class="media-body">
          <h4 class="media-heading text-warning mt-4 text-decoration-underline">
            commentaryAuthor
          </h4>
          <p class="text-white">commentaryContent</p>
          <div
            class="
              commentFooter
              d-grid
              gap-2
              d-md-flex
              justify-content-md-between
            "
          >
            <div class="col-12 justify-content-end d-flex">
              <button
                type="button"
                class="btn px-3 btn-sm btn-outline-danger m-2"
              >
                Supprimer
              </button>
              <button
                type="button"
                class="px-3 btn btn-sm btn-outline-warning m-2"
              >
                <i class="far fa-thumbs-up"></i
                ><span class="badge bg-warning text-dark ms-4">4</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
