<div class="backgroundImage"></div>
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light p-0">
    <div class="container-fluid bg-warning">
      <div class="navbar-nav col-4 justify-content-start">
        <a class="nav-link p-0" [routerLink]="['']"
          ><img
            src="assets/image/logo.png"
            title="Groupomania"
            alt="Groupomania"
        /></a>
      </div>
      <div class="navbar-nav col-8 justify-content-end align-items-center">
        <div class="notification col-1 d-flex justify-content-start">
          <div class="dropdown">
            <button
              class="btn dropdown-toggle position-relative"
              type="button"
              id="dropdownMenuButton1"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="far fa-bell fa-2x text-dark"></i>
              <span
                class="
                  position-absolute
                  top-0
                  start-100
                  translate-middle
                  badge
                  rounded-pill
                  bg-dark
                "
              >
                99+
                <span class="visually-hidden">unread messages</span>
              </span>
            </button>
            <ul
              class="dropdown-menu p-0 dropdown-menu-end"
              aria-labelledby="dropdownMenuButton1"
            >
              <li>
                <a class="dropdown-item text-white" href="#">
                  <div
                    class="
                      dropDownItemTop
                      d-flex
                      align-items-center
                      justify-content-around
                    "
                  >
                    <img src="assets/image/avatar.jpg" alt="pp" class="mr-2" />
                    <p class="m-0 ml-2">Nom de la personne</p>
                  </div>
                  <p class="mt-2">"a réagit à un de vos messages"</p>
                </a>
              </li>
              <li>
                <a class="dropdown-item text-white" href="#">
                  <div
                    class="
                      dropDownItemTop
                      d-flex
                      align-items-center
                      justify-content-around
                    "
                  >
                    <img src="assets/image/avatar.jpg" alt="pp" class="mr-2" />
                    <p class="m-0 ml-2">Nom de la personne</p>
                  </div>
                  <p class="mt-2">"a réagit à un de vos messages"</p>
                </a>
              </li>
              <li>
                <a class="dropdown-item text-white" href="#">
                  <div
                    class="
                      dropDownItemTop
                      d-flex
                      align-items-center
                      justify-content-around
                    "
                  >
                    <img src="assets/image/avatar.jpg" alt="pp" class="mr-2" />
                    <p class="m-0 ml-2">Nom de la personne</p>
                  </div>
                  <p class="mt-2">"a réagit à un de vos messages"</p>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <a class="nav-link text-dark fw-bold" [routerLink]="['/forum']"
          >Forum</a
        >
        <a class="nav-link active text-dark fw-bold" [routerLink]="['/profile']"
          >Profile</a
        >
      </div>
    </div>
  </nav>
</header>
<main>
  <div class="container mt-3">
    <div class="row text-white">
      <div class="deleteAccount col-12 justify-content-center">
        <h4 class="text-white mt-4">Supprimer votre compte</h4>
        <div class="passwordInput">
          <label for="InputPassword1" class="form-label text-white"></label>
          <input
            type="password"
            class="form-control"
            id="InputPassword1"
            placeholder="Mot de passe"
          />
          <div id="textHelp" class="form-text text-white">
            Veuillez renseigner votre mot de passe.
          </div>
          <label for="InputPassword2" class="form-label text-white"></label>
          <input
            type="password"
            class="form-control"
            id="InputPassword2"
            placeholder="Mot de passe"
          />
          <div id="textHelp" class="form-text text-white">
            Veuillez confirmer votre mot de passe.
          </div>
          <button class="deleteButtons mt-4 btn btn-sm btn-outline-danger m-2">
            Supprimer
          </button>
        </div>
      </div>
    </div>
  </div>
</main>
<footer class="bg-warning text-center text-white">
  <div class="topFooter container p-4">
    <section>
      <div class="row">
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-dark fw-bold text-decoration-none"
                >Politique de confidentialité</a
              >
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-dark fw-bold text-decoration-none"
                >Termes et conditions</a
              >
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <ul class="list-unstyled mb-0">
            <li>
              <a
                class="text-dark fw-bold text-decoration-none"
                [routerLink]="['/about']"
                >A propos</a
              >
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <ul class="list-unstyled mb-0">
            <li>
              <a
                href="mailto:groupomania@oursite.com"
                class="text-dark fw-bold text-decoration-none"
                >Nous contacter</a
              >
            </li>
          </ul>
        </div>
      </div>
    </section>
  </div>

  <div
    class="botFooter text-center p-3 text-dark fw-bold"
    style="background-color: rgba(0, 0, 0, 0.2)"
  >
    <div class="allRights">
      <p>@ 2021 All Rights Reserved Groupomania</p>
    </div>
  </div>
</footer>
