<div class="backgroundImage"></div>
<main>
  <div class="cardProfile col-md-7 col-12 mx-auto">
    <div
      class="cardProfileTop justify-content-center d-flex align-items-center"
    >
      <div class="notification d-flex justify-content-around col-md-6 m-4">
        <div class="dropdown">
          <button
            class="btn dropdown-toggle position-relative text-warning"
            type="button"
            id="dropdownMenuButton1"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="far fa-bell fa-2x text-warning"></i>
            <span
              class="
                position-absolute
                top-0
                start-100
                translate-middle
                badge
                rounded-pill
                bg-warning
                text-dark
              "
            >
              {{ counter }}
              <span class="visually-hidden">unread messages</span>
            </span>
          </button>
          <ul
            class="dropdown-menu p-0 dropdown-menu-end bg-dark"
            aria-labelledby="dropdownMenuButton1"
          >
            <li>
              <a class="dropdown-item text-white" href="#">
                <div
                  class="
                    dropDownItemTop
                    d-flex
                    align-items-center
                    justify-content-around
                  "
                >
                  <p class="m-0 ml-2">{{ reactName }}</p>
                </div>
                <p class="mt-2">{{ reactNameTopic }}</p>
              </a>
            </li>
          </ul>
        </div>
        <h3 class="text-center mt-2 text-warning">{{ accountName }}</h3>
      </div>
    </div>
    <div class="newPost col-md-12 d-flex justify-content-center">
      <button
        type="submit"
        class="createButtons px-3 btn btn-sm btn-outline-warning fw-bold mb-4"
        [routerLink]="['/topic']"
      >
        Nouveau Message
      </button>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <div class="containerCard col-md-10 col-12">
      <div class="card mb-3 mt-3 d-flex justify-content-center">
        <div class="card-body">
          <h5 class="card-title">{{ topicTitle }}</h5>
          <p class="card-text">
            {{ topicContent }}
          </p>

          <div class="mt-3 gap-2">
            <div class="form-group">
              <label for="comment">Commentaire:</label>
              <textarea class="form-control" rows="5" id="comment">{{
                commentary
              }}</textarea>
            </div>
            <button
              class="commentButtons px-3 btn btn-sm btn-outline-warning mt-4"
              [routerLink]="['/comments']"
            >
              Commenter
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="content-item" id="comments">
    <div class="container col-md-8">
      <div class="d-flex justify-content-center">
        <div class="col-12">
          <div class="media row mt-4 mb-4">
            <div class="media-body">
              <h4 class="media-heading text-warning mt-4">
                {{ commentaryAuthor }}
              </h4>
              <p class="text-white">
                {{ commentaryContent }}
              </p>
              <div
                class="
                  commentFooter
                  d-grid
                  gap-2
                  d-md-flex
                  justify-content-md-between
                "
              >
                <div class="col-12 justify-content-end d-flex">
                  <button
                    class="
                      likeButtons
                      px-3
                      btn btn-sm btn-outline-warning
                      m-2
                      mb-4
                      col-2
                    "
                  >
                    <i class="far fa-thumbs-up"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
