<main class="col-12 d-flex justify-content-center backgroundImage image-fluid">
  <figure class="citation justify-content-center col-4">
    <blockquote
      class="blockquote text-white fw-bold fs-4 fst-italic text-center"
    >
      <p>Là où l'humour est partagé, l'amitié n'est pas loin.</p>
    </blockquote>
    <figcaption class="blockquote-footer text-white text-center">
      Grégoire Lacroix
      <cite title="Source Title"> Euphorismes de Grégoire</cite>
    </figcaption>
  </figure>
</main>
