<div class="backgroundImage"></div>
<main>
  <div class="about text-white d-flex justify-content-center">
    <div class="presentation col-md-8 col-12 p-4 mt-4">
      <div class="col-12 d-flex justify-content-center">
        <img
          src="assets/image/logImage.png"
          alt="logo"
          class="text-center mt-2 ms-4 me-4 col-12 mb-4"
        />
      </div>

      <p class="mb-5 text-center">
        Notre entreprise, spécialisée dans la grande distribution, est en pleine
        expansion. Nous avons actuellement plus de 600 collaborateurs et avons
        beaucoup recruté depuis quelques années. Nous étions uniquement 300 il y
        a 3 ans.
      </p>
    </div>
  </div>
</main>
