<div class="backgroundImage"></div>
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light p-0">
    <div class="container-fluid bg-warning">
      <div class="navbar-nav col-12 justify-content-between">
        <a class="nav-link p-0" [routerLink]="['']"
          ><img
            src="assets/image/logo.png"
            title="Groupomania"
            alt="Groupomania"
        /></a>
        <div class="navbar-nav align-items-center">
          <a class="nav-link text-dark fw-bold" [routerLink]="['/login']"
            >Se connecter</a
          >
        </div>
      </div>
    </div>
  </nav>
</header>
<main>
  <div class="logCard d-flex justify-content-center">
    <form [formGroup]="signForm" class="logForm col-4">
      <div class="logLogo d-flex justify-content-center">
        <img
          src="../../assets/image/logImage.png"
          class="logCardTop col-11 m-3 mt-4"
          alt="image"
        />
      </div>

      <div class="mb-3 col-11 m-3">
        <input
          formControlName="fullName"
          class="form-control"
          type="text"
          placeholder="Nom"
        />
        <div id="textHelp" class="form-text text-white mb-4">
          Veuillez renseigner le matricule figurant sur votre fiche de salaire.
        </div>

        <input
          formControlName="email"
          type="email"
          class="form-control"
          id="InputEmail1"
          aria-describedby="TextHelp"
          placeholder="Votre adresse Email"
        />
        <div id="textHelp" class="form-text text-white">
          Veuillez renseigner votre adresse email ici.
        </div>
      </div>
      <div class="mb-3 col-11 m-3">
        <input
          formControlName="password"
          type="password"
          class="form-control"
          id="InputPassword1"
          placeholder="Mot de passe"
        />
      </div>
      <div class="mb-3 col-11 m-3">
        <input
          formControlName="confirmPassword"
          type="password"
          class="form-control"
          id="InputPassword2"
          placeholder="Confirmer Mot de passe"
        />
        <div id="passwordConfirm" class="form-text text-white">
          Confirmer votre mot de passe.
        </div>
      </div>

      <div class="logCardFooter mb-4">
        <button
          [disabled]="signForm.invalid"
          (click)="onSignup()"
          type="submit"
          class="btn btn-warning col-11 m-3 text-dark fw-bold"
        >
          S'enregistrer
        </button>
      </div>
    </form>
  </div>
</main>
<footer class="bg-warning text-center text-white">
  <div class="topFooter container p-4">
    <section>
      <div class="row">
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <ul class="list-unstyled mb-0">
            <li>
              <a
                class="text-dark fw-bold text-decoration-none"
                [routerLink]="['/politique']"
                >Politique de confidentialité</a
              >
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <ul class="list-unstyled mb-0">
            <li>
              <a
                class="text-dark fw-bold text-decoration-none"
                [routerLink]="['/cgu']"
                >Termes et conditions</a
              >
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <ul class="list-unstyled mb-0">
            <li>
              <a
                class="text-dark fw-bold text-decoration-none"
                [routerLink]="['/about']"
                >A propos</a
              >
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <ul class="list-unstyled mb-0">
            <li>
              <a
                href="mailto:groupomania@oursite.com"
                class="text-dark fw-bold text-decoration-none"
                >Nous contacter</a
              >
            </li>
          </ul>
        </div>
      </div>
    </section>
  </div>

  <div
    class="botFooter text-center p-3 text-dark fw-bold"
    style="background-color: rgba(0, 0, 0, 0.2)"
  >
    <div class="allRights">
      <p>@ 2021 All Rights Reserved Groupomania</p>
    </div>
  </div>
</footer>
