<footer class="bg-warning text-center text-white">
  <div class="topFooter container">
    <section>
      <div class="row d-flex align-items-center mt-2">
        <div class="col-12 col-md-3 col-sm-6">
          <ul class="list-unstyled mt-0">
            <li>
              <a
                class="text-dark fw-bold text-decoration-none"
                [routerLink]="['/politique']"
                >Politique de confidentialité</a
              >
            </li>
          </ul>
        </div>
        <div class="col-12 col-md-3 col-sm-6">
          <ul class="list-unstyled">
            <li>
              <a
                class="text-dark fw-bold text-decoration-none"
                [routerLink]="['/cgu']"
                >Termes et conditions</a
              >
            </li>
          </ul>
        </div>
        <div class="col-12 col-md-3 col-sm-6">
          <ul class="list-unstyled">
            <li>
              <a
                class="text-dark fw-bold text-decoration-none"
                [routerLink]="['/about']"
                >A propos</a
              >
            </li>
          </ul>
        </div>
        <div class="col-12 col-md-3 col-sm-6">
          <ul class="list-unstyled">
            <li>
              <a
                href="mailto:groupomania@oursite.com"
                class="text-dark fw-bold text-decoration-none"
                >Nous contacter</a
              >
            </li>
          </ul>
        </div>
      </div>
    </section>
  </div>
  <div
    class="botFooter text-center p-3 text-dark fw-bold"
    style="background-color: rgba(0, 0, 0, 0.2)"
  >
    <div class="allRights">
      <p>@ 2021 All Rights Reserved Groupomania</p>
    </div>
  </div>
</footer>
