.backgroundImage {
  background-image: url("../../../assets/image/testBg.jpg");
  background-size: cover;
  background-position: center;
  -o-object-fit: cover;
  object-fit: cover;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
